<!DOCTYPE html>
<html>
  <head>
    <title>Dashboard</title>
  </head>
  <body>
    <h1>Dashboard</h1>
    <p>...</p>
    <script src="/js/jquery-1.12.2.min.js"></script>
    <script src="/js/test.js"></script>
  </body>
</html>
