<!DOCTYPE html>
<html>
<head>
<title>TestNode</title>
<!--
The testnode page should do 2 things

1) send periodic "hello" messages to the server
2) allow the user to send "alert" messages to the server

-->
</head>
<body>

<h3>TestNode</h3>
<br>
 <button type="button" id="alert">Send Alert</button>

<script src="/js/testnode.js"></script>
</body>
</html>
